.lienzos{
    cursor: pointer;
    width: 200px;
}
.posters{
    cursor: pointer;
    width: 200px;
}
.table-productos  {
    border-collapse: collapse;
    margin-top: .5em;
    clear: both;
    font-size: 14px;
}

.table-productos td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.table-posters{
    width: auto;
    height: auto;
}
label {
    font-weight: 800;
}

.tabla-productos-final {
    border: none;
}

.tabla-productos-final td {
    text-align: center;
}

#TB_ajaxContent {
    clear: both;
    padding: 0 !important;
    overflow: auto;
    text-align: left;
    line-height: 1.4em;
    height: unset !important;
    width: 630px !important;
}

#img-preview {
    width: 630px;
    margin-bottom: 2em;
}

.btn-aceptar {
    margin-right: 1em;
    margin-left: 1em;
}
#Borrar{
    height: unset;
    width: unset;
}
#TB_window{
    position: fixed;
    background-color: #fff;
    z-index: 100050;
    text-align: left;
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    overflow: auto;
    height: 600px;
}
#resizable { 
    width: 200px; 
    height: 150px;
     padding: 5px; 
    }
#resizable img {
       text-align: center;
        margin: 0; 
    }
.radio{
    border: 1px solid;
}

#myCanvas {
    background-color: white;
}

img.active { 
    border: 2px solid red;
}